
body {
    background: linear-gradient(180deg, #FFFFFF 31%, #B1CBFF 100%);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logoContainer {
    margin-bottom: 2rem;
  }
  

  .logo {
    width: 200px;
    height: auto;
  }
  
  .searchForm {
    width: 100%;
    max-width: 600px;
  }
  

